
.text-muted {
	font-size: 20px;
	background: linear-gradient(red,white, blue);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;	
}
.featurette-heading{
	font-size: 30px;
	background: linear-gradient(red,white, blue);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;	
}
.text-muted1 {
	font-size: 20px;
	background: linear-gradient(90deg,blue,white, red);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;	
}
.featurette-heading1{
	font-size: 30px;
	background: linear-gradient(90deg,blue,white, red);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;	
}

.text-muted2 {
	font-size: 20px;
	background: linear-gradient(yellow,green, red);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;	
}
.featurette-heading2{
	font-size: 30px;
	background: linear-gradient(yellow,green, red);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;	
}
body {
    background-color: SpringGreen;
}